	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Roboto';
	}

	body {
		line-height: 1.5;
		background-color: #0E0b16;
	}

	header {
		background-color: #FF9999;
		margin-bottom: 30px;
		position: sticky;
		padding: 0 16px;
		align-items: flex-start;
		top: 0;
	}

	header li {
		list-style: none;
	}

	header ul {
		display: flex;
		gap: 16px;
	}

	header a {
		text-decoration: none;
		color: #0E0b16;
		inset: 0 0 0 6px;
		font-size: 20px;
	}

	.banner-image {
		width: 100%;
		height: 100%;
	}

	.banner-image img {
		width: 100%;
		height: 100%;
		margin-bottom: -3.6rem;
    padding: 16px;
	}

	#section-one {
		background-color: #0E0b16;
		width: 100%;
	}

	.section-heading {
		padding: 16px;
		margin-bottom: 16px;
		color: #fff;
	}

	#section-one .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 16px;
		row-gap: 16px;
		width: 100%;
	}

	.grid-container .thumbnail .sub-text {
		color: #fff;
		font-size: 20px;
		margin-bottom: 16px;
		padding: 16px;
	}

	.grid-container .body-text {
		padding: 16px;
		font-size: 18px;
		line-height: 27px;
		color: #fff;
	}


	.grid-container.image {
		width: 100%;
		height: 100%;
	}

	.grid-container .image img {
		max-width: 100%;
		height: 60%;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	#section-one .button-next {
		background-color: #FF9999;
		border: 0;
		outline: 0;
		display: block;
		transform: translateY(0) translateZ(0);
		font-size: 1.5rem;
		border-radius: .4rem;
		width: 100px;
		margin: 16px;
		line-height: 27px;
		align-items: center;
		justify-content: center;
	}

	#section-one .button-next a {
		text-decoration: none;
		color: #0E0b16;
	}

	#section-two {
		position: relative;
		margin-bottom: 36px;
		padding: 16px;
		width: 50%;
	}

	.image-button-text-container {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;
		color: #fff;
	}

	#section-two .images img {
		width: 100%;
		height: 100%;
		aspect-ratio: 16/9;
		object-fit: contain;
	}

	.image-button-text-container .sub-text {
		margin-bottom: 8px;
		padding: 16px;
	}


	#section-two .button {
		position: relative;
		background-color: #FF9999;
		border: 0;
		outline: 0;
		display: block;
		transform: translateY(0) translateZ(0);
		font-size: 1.5rem;
		border-radius: .4rem;
		width: 100px;
		margin: 16px;
	}

	.button a {
		text-decoration: none;
		color: #0E0b16;
	}

	#section-three {
		padding: 16px;
		background-color: #0E0b16;
		margin-bottom: 16px;
		width: 50%;
	}

	.cards {
		display: flex;
		justify-content: space-between;
		padding: 16px;
	}

	.cards .card {
		background-color: #0E0b16;
		margin-bottom: 16px;
		color: #fff;
		line-height: 27px;
	}

	.cards .card h2 {
		margin-bottom: 22px;
	}

	#section-four {
		padding: 16px;
		width: 100%;
	}

	.swiper-one {
		width: 100vw;
		height: 100vh;
		position: relative;
	}

	#section-four.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	#section-four .swiper-slide img {
		width: 100%;
	}

	.text-wrapper {
		position: absolute;
		inset: 0;
		color: #000;
		font-size: 40px;
		padding: 16px;
		z-index: 1;
	}

	#section-five {
		margin-bottom: 40px;
    width: 100%;
	}

	#section-five .swiper-slide video {
		border-radius: 10px;
	}

	#section-six {
		margin: 0 auto;
		width: 100%;
	}

	#section-six .top-link {
		display: block;
		width: 100%;
		height: .6rem;
		left: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 1.33rem;
		text-align: center;
		font-weight: 600;
		display: inline-block;
		margin-bottom: 30px;
	}

	#section-six .top-link a {
		text-decoration: none;
		color: #fff;
		text-align: center;
	}

	footer {
		background-color: #FF9999;
		color: #0E0b16;
		width: 100%;
	}

	footer .section-heading {
		color: #0E0b16;
	}

	footer .icons a {
		color: #000;
		padding: 16px;
		font-size: 30px;
		display: flex;
		flex-direction: column;
		text-decoration: none;
	}
